{{css path="index.css"}}
{{css path="button.css" name="form"}}

<button class="button {{type}} {{state}} {{#if busy}}busy{{/if}} {{#if class}}{{class}}{{/if}}">
    <img src="{{#if isPrimary}}{{url path="primary_loader.gif"}}{{else}}{{url path="secondary_loader.gif"}}{{/if}}" width=16 height=16 />
    <span>{{{label}}}</span>
</button>